<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="sqltools" connectionString="server=(local);database=SqlTools;Integrated Security=SSPI;"/>
	</connectionStrings>
	<appSettings>
		<add key="DefaultCommandTimeoutInSeconds" value="60"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
